@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.site-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 80%;  /* create white space on borders */
}


 /* ---- Logo ---- */
 .site-logo img {
    width: 6em;
    margin-left: 40px;
}


/* ---- Main navigation bar ---- */
.main-nav {
    display:block;
    height:50px;
    line-height: 50px;
    /*background-color: ;*/
}
.main-nav ul {
    list-style: none;
    padding:0;
    margin: 0;
}
.main-nav ul li:not(.dropdown) {
    display: inline-block;
    position: relative;
}
.main-nav .main-ul li {
    text-align:center;
    text-decoration: none;
    padding: 14px 16px;
}
.main-nav .main-ul li a {
    color: var(--primary-font-color);
    font-family: var(--primary-font-family), sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.main-nav ul li a:hover{
    color: var(--secondary-hoover-font-color);
}


/* ---- Dropdown menus from main navigation bar ---- */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Apply inline style to dropdown menu without affecting dropdown menus */
.main-nav .main-ul li:not(.dropdown) a {
    display: inline-block;
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    top:3em; /* Align dropdown elements below the header */
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    display: block;
    padding: 2px 2px;
    text-align: left;
    text-decoration: none;
    /*top:100%;*/
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd;
    padding: 2px;
    border-radius: 7px;
}

/* nav menu dropdown icon */
.dropdown-toggle-icon {
    margin-left: 5px;
}
.dropdown-toggle-icon:hover {
    color: var(--secondary-hoover-font-color);
}


/* ---- for wide screens ---- */
@media (min-width:1366px){
    .site-header {
        max-width: 70%;
        margin: 0 auto;
        padding: 2em;
    }
    .site-logo img {
        width: 7em;
        margin-left: -200px;
    }
    .main-nav .main-ul li a {
        font-size: 2em;
        font-weight: 400;
    }
    .grid-item-1 {
        margin-left: -100px;
        margin-top: 100px;
    }
    .dropdown-content {
        top: 7em; /* adjust dropdown content below header */
    }
}


/* ---- burger menu mobile ---- */
#menuToggle
{
    display: block;
    position: relative;
    top: 25px;
    margin-right: 40px;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/* burger icon */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: black; /* give color to burger menu lines */
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}


/* animation make an X after click burger menu */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
/* hide the middle span line to have 2 lines instead of 3  */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/* when burger clicked display this */
.menu-visible
{
    display: block;
    position: fixed;
    right: 0;

    padding: 50px;
    line-height: 40px;
    background: #fdfdfd;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-hidden {
    display: none;
}

.menu-visible a li
{
    padding: 10px 0;
    font-size: 1.5em;
    font-family: var(--primary-font-family)
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}


/* responsive */
@media (max-width: 768px){

    .site-header {
        max-width: 100%;
        width:100%
    }
    .site-logo img {
    width: 5em;
        margin-left: 10px;
    }

    .buttons-container {
        flex-direction: column;
        align-items:stretch; /* allow buttons to have the same width */
    }
    .hero-btn {
        margin: 10px auto 0; /* Center buttons and separate them vertically */
        width: 80%; /* same width for both buttons */
        cursor: pointer;
    }
}
