#lean-icons-div {
}

#learn-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with same width each */
    justify-items: center;
    width: 60%;
    margin: 0 auto; /* center */

}


.learn-grid-item {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    width:100%;
    padding: 2vw ;
    transition: transform 0.3s ease;
}
.learn-grid-item:hover {
    filter: brightness(75%);  /* shadow on hoover */
    transform: rotate(20deg);
}

.learn-grid-item h3 {
    padding-bottom: 20px;
    white-space: nowrap;
}
.learn-grid-item img{
    width: 25%;
}

/* ---- for large monitors ----*/
@media (min-width:1366px){
    .learn-grid-item img {
        width:20%;
    }
}

/* ---- for smartphones ---- */
@media (max-width: 768px) {
    #learn-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr ));
        margin: 0 auto;
        width: 100%;

    }

    .learn-grid-item h3 {
        white-space: normal;  /* allow break lines to fit text */
        padding-top: 15px;
    }

    .learn-grid-item img{
        width: 17%;
    }
}

