@import '../App.css';

.table-article-thumbrow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*flex-wrap: wrap;*/
    gap:2em;
    margin: 4.5em 0;
}

.thumbrow-article {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    overflow:hidden; /* hide img overflow from box */
}

.thumbrow-article img {
    /*height: 150px;*/
    width: 100%;
}
.thumbrow-article h5 {
    margin: 10px 0 0 ;
    font-size:1.1em;
    font-style: italic;
    padding: 5px 15px 15px;
    text-align:center;
    color: #594F4F;
}
.thumbrow-article h5:hover {
    color: var(--coffee-red-color);
}

@media (max-width: 768px){
    .table-article-thumbrow {
        justify-content: center;
    }
    .thumbrow-article {
        margin: 0 auto;
    }

    .thumbrow-article h5{
        font-size:1.1em;
    }

}