@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Karla&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-font-color: black;
    --coffee-red-color: #e6512b;
    --primary-font-family: Rubik;
    --secondary-hoover-font-color: #44ada8;
    --h2-section-background-color: #f2f5fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* for a links */

}

body {
    font-family: karla, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Rubik', -apple-system, sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    /*color: #273338;*/
    color: #805f55;
    line-height: 1.2em;

    box-sizing: border-box;
    width: 100%;
}

h2 {
    text-align: center;
    margin: 3em 3em;
    font-size: 30px;
}

@media (max-width: 768px) {
    h2 {
        margin: 2em 2em;
    }
}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

