@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Karla&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-font-color: black;
    --coffee-red-color: #e6512b;
    --primary-font-family: Rubik;
    --secondary-hoover-font-color: #44ada8;
    --h2-section-background-color: #f2f5fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* for underlined links */

}

body {
    font-family: karla, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Rubik', -apple-system, sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 1.2em;
    width: 100%;
    color: #805f55;
    box-sizing: border-box;
    /*color: #273338;*/
}

h2 {
    text-align: center;
    margin: 3em 3em;
    font-size: 30px;
}


/* ---- large monitors ---- */
@media (min-width:1366px) {
    h2 {
        font-size: 40px;
    }
}


/* ---- smartphones ---- */
@media (max-width: 768px) {
    h2 {
        margin: 2em 2em;
    }
}
