
.site-header {
    background-color: #fff;
    display: flex;
}

 /* ---- Logo ---- */
 .site-logo img {
    width: 5em;
}

/* ---- Main navigation bar ---- */
.main-nav {
    display:block;
    height:50px;
    line-height: 50px;
    /*background-color: ;*/
}
.main-nav ul {
    list-style: none;
    padding:0;
    margin: 0;
}
.main-nav ul li {
    display: inline-block;
    position: relative;
}
.main-nav .main-ul li a {
    display: inline-block;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
.main-nav ul li a:hover{
    color: #44ada8;
}

/* ---- Dropdown menus from main navigation bar ---- */

/* Dropdown content hidden by default */
/* Dropdown content hidden by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content  a {
    display: block;
    text-align: left;
    padding: 10px;
}

/* Show the dropdown on hover */
.main-nav main-ul .dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd;
}